mulesoft-main/ramsai/src/main/mule/ramsai.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="69163c51-4a17-4bbd-9bb5-30fd630f5c73" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="ramsaiFlow" doc:id="e52d883f-4622-4b7e-8c0f-e581f7350e97" >
		<http:listener doc:name="Listener" doc:id="95826c43-73d7-4101-a2cd-2f2606dcd95a" config-ref="HTTP_Listener_config" path="/ramsai"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="1333c4c7-0194-4957-98a8-c87172abf2c6" />
	</flow>
</mule>
